#Ignore Mac OS X DS Store
.DS_Store

#Ignore build directory
/target/

# IDEA project
/.idea/
/out/

# Eclipse files
.classpath
.project
/.settings/

# Build Output
/output/

# XCode project files
/build.release/

# CMake Output Files
/lib/CMakeFiles/
/lib/CMakeCache.txt
/lib/install_manifest.txt
/lib/libDinoLibrary.a
/test/CMakeFiles/
/example/CMakeFiles/
/example/CMakeCache.txt
/example/install_manifest.txt

/CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
install_manifest.txt
